*.b linguist-language=Brainfuck
*.bf linguist-language=Brainfuck
*.nix linguist-language=C++
*.sh linguist-language=Python
*.b linguist-detectable=true

docs/* linguist-vendored
backup/* linguist-vendored
